<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ccp.simple.mapper.NewsMapper">

    <select id="getAllNews" resultType="com.ccp.simple.dto.NewsResponseDto">
        SELECT n.news_id,
               n.title,
               n.link,
               n.description,
               n.pub_dt,
               string_agg(k.keyword, ', ') AS keywords,
               n.visible
        FROM NEWS_INFO n
                 JOIN NEWS_KEYWORD_MAPPING m ON n.news_id = m.news_id
                 JOIN KEYWORD_INFO k ON m.keyword_id = k.keyword_id
        GROUP BY n.news_id, n.title, n.link, n.description, n.pub_dt
        ORDER BY n.pub_dt DESC
    </select>

    <update id="updateNewsVisibility">
        UPDATE NEWS_INFO
        SET visible = #{visible}
        WHERE news_id = #{newsId}
    </update>

    <insert id="insertNews" parameterType="com.ccp.simple.domain.News" useGeneratedKeys="true" keyProperty="newsId">
        INSERT INTO NEWS_INFO (
            title,
            link,
            description,
            pub_dt,
            visible
        ) VALUES (
            #{title},
            #{link},
            #{description},
            #{pubDt},
            #{visible}
        )
        ON CONFLICT (link) DO NOTHING
    </insert>

    <insert id="insertNewsKeywordMapping">
        INSERT INTO NEWS_KEYWORD_MAPPING (
            news_id,
            keyword_id
        ) VALUES (
            #{newsId},
            #{keywordId}
        )
        ON CONFLICT DO NOTHING
    </insert>

    <select id="existsByLink" parameterType="string" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM NEWS_INFO
            WHERE link = #{link}
        )
    </select>

    <select id="getNewsIdByLink" parameterType="string" resultType="long">
        SELECT news_id
        FROM NEWS_INFO
        WHERE link = #{link}
    </select>

    <insert id="insertKeyword" parameterType="com.ccp.simple.domain.Keyword">
        INSERT INTO KEYWORD_INFO(
            KEYWORD,
            USER_ID,
            CREATE_DT
        )
        VALUES
        (
            #{keyword},
            #{userId},
            CURRENT_TIMESTAMP
        )
    </insert>

    <select id="getAllKeywords" resultType="com.ccp.simple.domain.Keyword">
        SELECT
            KEYWORD_ID,
            KEYWORD,
            USER_ID,
            CREATE_DT
        FROM KEYWORD_INFO
    </select>

    <delete id="deleteKeyword" parameterType="int">
        DELETE
        FROM KEYWORD_INFO
        WHERE KEYWORD_ID = #{keywordId}
    </delete>
</mapper>
